<div class="comment clearfix">
  	<div class="content">
  		<p><%= comment.comment %></p>
  		<p class="email"><%= comment.user.email %></p>
  	</div>	 
	<div class="buttons">
	  	<%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
	  	<%= link_to "Delete comment", [comment.post, comment], method: :delete, data: { confirm: "Are you sure"} %>
	</div>
</div>