$grey-color: #DFD3D8;
$blue-dark: #CBADB8;
$text-color: #885E71;
$pink: #DFD3D8;
$green: #E2E8DB;



body {
	font-family: 'Roboto', sans-serif;
	background: $green;
	color:$text-color;
}
h1 {
	font-weight: 100;
	color: $blue-dark;
	font-size:27px;
}
h2 {
	margin:5px 0;
}
textarea {
	margin: 10px 0;
	overflow: auto;
	width: 100%;
	border: 1px solid $grey-color;
	border-radius: none; 
	border-radius:5px;
	padding: 0;
}		

h3 {
	font-size: 15px;
  	font-weight: 600;
  	margin: 10px 0;
}

input[type="text"] {
	width: 100%;

}

input[type="submit"] {
	background: $blue-dark;
	border-radius: 5px;
	border: none;
	color: #fff;
	margin: 10px 0 20px;
  	padding: 10px;
}

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear:both;
}

.main_header {
	background: $blue-dark;
	width: 100%;
	margin: 0 auto;
	
	#logo {
		float: left;
		a {
			text-decoration: none;
			color: $blue-dark;
			color:#fff;
		}
	}
	p {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: -1px;
		font-size: 15px;
	}
	#buttons {
		float: right;
		margin-top: 15px;
		
		a {
			color: #fff;
			text-decoration: none;
			background: $pink;
			padding: 0.5em 1em;
			border-radius: 5px;
			font-weight: 100;
		}
	}

}

#posts {
	background: #fff;
	padding: 20px 5%;
	border-radius: 5px;
	.post {
		border-bottom: 1px solid #D1d1d1;
		&:last-child {
			border-bottom: none;
		}
		a {
			color: $blue-dark;
			text-decoration: none;
			font-weight: 100;
			font-size: 17px;
			margin: 10px  0;
			padding: 10px 0;
			
		}
	}
	.date {
		margin-top: 0px;
  		font-size: 11px;
		color: #b2bac2;
	}
}

#post_content {
	background: #fff;
	padding: 20px 5%;
	border-radius: 5px;
	label{
		margin-top:10px;
	}

	h2 {
		font-weight: 100;
		color: $blue-dark;
	}
	


}


.comment {
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 10px;
	margin-bottom: 10px;
	.content {
		width: 75%;
		float: left;
	}
	.buttons { 	
		width: 25%;
		float: left;
		font-size: 13px;
		text-align: right;
		padding-top: 10px;
		a {
			color: $pink;
			border: 1px solid $pink;
			padding: 7px;
			border-radius:5px;
			text-decoration: none;
			margin-right: 2%;
		}
	}
	.email {
	  	margin-top: 0px;
  		font-size: 11px;
		color: #b2bac2;
	 }
}
.content_links {
	a {
		border: 1px solid $pink;
		border-radius: 5px;
		color: $pink;
		padding: 5px; 
		text-decoration: none;
	}
}
.edit_comment {
	a {
		text-decoration: none; 
		color: $blue-dark;
	}
}


